#pink{
    color: pink;
}
#greycol{
    color: grey;
}
#red{
    color: red;
}
#green{
    color: green;
}

.yellow{
    color:yellow;
}
.table{
    
}
.main-link:hover,
.main-link:focus{
    color:hotpink;
    background-color: aliceblue;
}
.paragraph{
    color: rgb(194, 146, 205);
    background-color: azure;
}
